* {
    margin: 0;
}

.text {
    text-align: center;
    margin: 40px;
    color: rgb(85, 85, 85);
}

.texth4 {
    text-align: center;
    color: rgb(58, 58, 58);
    margin-top: 5%;
    
}
.texth {
    text-align: center;
    color: rgb(58, 58, 58);
    margin-top: 1%;
    
}

.div {
    display: flex;
    justify-content: center;
}

.conteiner {
    text-align: center;
    width: 400px;
    height: 150px;
}

.input {
    padding: 3px;
    width: 80%;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 1px 2px 2px rgb(197, 197, 197);
    border: 2px solid rgb(206, 205, 205);    
}

.button {
    margin: 5px;
    background-color: rgb(206, 233, 235);
    border: 2px solid rgb(206, 205, 205);
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgb(197, 197, 197);
    padding: 10px;
    
}

button:hover {
    background-color: #e4e4e4;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}